= semantic_form_for(@blueprint, :as => :blueprint) do |f|
  = f.semantic_errors
  = f.inputs do 
    = f.input :name
  - if @blueprint.id
    = render :partial => 'parameters'
  = f.buttons do
    = f.commit_button "Submit"
