= semantic_form_for @machine_blueprint do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name
    = f.input :identifier
  - if @machine_blueprint.new_record?
    = f.inputs do
      = f.input :launcher_class, :as => :select, :collection => MachineBlueprint.launcher_class_options 
  - else
    = render :partial => 'parameters'
  = f.buttons do
    = f.commit_button "Submit"
