%h1 Machine Blueprints
.action_links
  = link_to 'New Machine blueprint', new_machine_blueprint_path
%table.main_table
  %tr
    %th Identifier    
    %th Name
    %th Created
    %th Launcher
    %th Instance Type
    %th Description
    %th Destroy
  - @machine_blueprints.each do |machine_blueprint|
    %tr
      %td= link_to machine_blueprint.identifier, edit_machine_blueprint_path(machine_blueprint)
      %td= machine_blueprint.name
      %td= machine_blueprint.created_at.to_s(:short)
      %td= machine_blueprint.launcher_name
      %td= machine_blueprint.instance_type_display
      %td= machine_blueprint.launcher_description
      %td= link_to 'Destroy', machine_blueprint, :confirm => 'Are you sure?', :method => :delete
%br/
