- semantic_form_for @cloud do |f|
  - f.inputs do
    = f.semantic_errors
    = f.input :name
  = semantic_fields_for "cloud[options]", @cloud.options do |of| 
    = f.inputs do
      = of.semantic_errors
      = of.input :security_group
      = of.input :availability_zone, :as => :radio, :collection => Cloud::Options.availability_zone_select_options, |
          :hint => "Should not be changed once cloud is active"
  = semantic_fields_for "cloud[chef_options]", @cloud.chef_options do |cf|
    = cf.inputs do
      = cf.semantic_errors
      = cf.input :repository, :hint => 'Leave blank for default Webiva repository'
      = cf.input :branch
      = cf.input :gems, :as => :text
      = cf.input :modules_list, :as => :text
      = cf.input :gitkey, :as => :text
      = cf.input :private_key, :as => :text, :hint =>( @cloud.chef_options.has_private_key? ? 'Not Shown for security reasons' : '' )
      = cf.input :certificate, :as => :text, :hint => ( @cloud.chef_options.has_certificate? ? 'Not shown for security reasons' : '' )
  - f.buttons do
    = f.commit_button
