%h1 Machines

.action_links
  = link_to 'Cleanup Terminated', url_for(:action => :cleanup), :method => :post

%table.main_table
  %tr
    %th Machine Name
    %th Type
    %th IP 
    %th Roles
    %th Created
    %th Status
  - @machines.each do |machine|
    %tr
      %td= link_to machine.full_name,machine
      %td= machine.instance_type_display
      %td= machine.ip_address
      %td= machine.roles_display

      %td= machine.created_at.to_s(:short)
      %td= machine.status_display
