!!!
%html
  %head
    %title Webiva Cloud Platform
    = stylesheet_link_tag 'formtastic'
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag 'jquery-ui-1.8.2.custom.css'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header_wrapper 
      #header
        %h1 Webiva Cloud Platform
        #links= top_links
    #menu_wrapper
      #menu= render :partial => '/common/menu'
    #container
      - if notice
        %p.notice= notice 
      = yield
